
a:hover {
  background-color: #fda500;
}

.logo {
  margin: 2rem;
  float: left;
}

.spacer {
  flex: 1 1 auto;
}

//.site-title {
//  float: right;
//}

.site-title a {
  color: #fff;
  text-decoration: none;
  line-height: 75px;
  font-size: 22px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.nav>li {
  position: relative;
  display: block
}

.secondary-nav .navbar-nav>li>a {
  color: #fff;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 16px;
}

nav.navbar.secondary-nav {
  //background: white;
  min-height: 40px;
}

.secondary {
  //background: transparent;
  color: #fda500;
}

.nav.navbar-nav {
  float: right;
}

.navbar-nav>li>a {
  text-transform: uppercase;
  padding: 0;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.secondary-nav .navbar-nav>li>a {
  color: #007833;
  line-height: 40px;
  font-size: 1.1em;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 0 10px 0 15px;
}

.navbar {
  position: relative;
  min-height: 50px;
}

.navbar-nav {
  margin: 7.5px -15px;
  float: left;
  margin: 0
}

.navbar-nav>li {
  float: left
}

//.home-link {
//  color:#fff;
//}

.container:after,
.container:before,
.row:after,
.row:before {
  display: table;
  content: " "
}

.container:after,
.row:after {
  clear: both
}

@media (max-width: 900px) {


}
