
.site-header {
  background-color: #007833;
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logo {
  padding: 0rem;
  float: left;
}

.spacer {
  flex: 1 1 auto;
}

.site-title a {
  color: #fff;
  text-decoration: none;
  line-height: 75px;
  font-size: 22px;
}

.navbar-nav>li>a {
  text-transform: uppercase;
  padding: 0;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 0 10px 0 15px;
}

.navbar-nav {
  margin: 7.5px -15px;
  float: left;
  margin: 0
}

.navbar-nav>li {
  float: left
}

.container:after,
.container:before,
.row:after,
.row:before {
  display: table;
  content: " "
}

.container:after,
.row:after {
  clear: both
}

@media (max-width: 900px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

}
