.authpage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

img {
  height: 80%;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.site-title {
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.links {
  font-size: 12px;
}

.right {
  display: flex;
  flex-direction: column;
}

.doe-logo {
  height: 100px;
  width: 100px;
}

.fine-print {
  color: white;
  font-size: 12px;
  position: absolute;
  margin: 3rem 7rem;
  text-align: center;
}

.fine-print > p{
  line-height: 1.7;
}

@media only screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  img {
    width: 100%;
  }
  .left {
    margin: 2rem;
  }

  .fine-print {
    position: fixed;
    margin: 1rem;
    text-align: center;
  }

}
