@use '@angular/material' as mat;
@use 'ornlColors' as pal;

@include mat.core();

$analytics-login-primary: mat.define-palette(pal.$md-ornl, 800);
$analytics-login-accent: mat.define-palette(pal.$md-ornlAlt, 200);
$analytics-login-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$analytics-login-theme: mat.define-light-theme((
  color: (
    primary: $analytics-login-primary,
    accent: $analytics-login-accent,
    warn: $analytics-login-warn,
  )
));

@include mat.all-component-themes($analytics-login-theme);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}
